.mainwindow{
    height: 100vh;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 400px; */
}

.loader {
    position: relative;
}
  
.loader span {
position: absolute;
color: #fff;
transform: translate(-50%, -50%);
font-size: 72px;
letter-spacing: 5px;
}

.loader span:nth-child(1) {
color: transparent;
-webkit-text-stroke: 0.3px rgb(128, 198, 255);
}

.loader span:nth-child(2) {
color: rgb(128, 198, 255);
-webkit-text-stroke: 1px rgb(128, 198, 255);
animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
    54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
}

50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
    51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
}
}

.card {
    width: 220px;
    height: 120px;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    position: absolute;
    right: 60px;
    bottom: 60px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: scroll;
    color: white;
}

.card::-webkit-scrollbar{
    display: none;
}
  
.card:hover {
height: 254px;
transform: skew(0deg);
}

.align {
padding: 1rem;
display: flex;
flex-direction: row;
gap: 5px;
align-self: flex-start;
}

.sidebox-img{
    max-height: 20px;
}

.card h2 {
text-align: center;
margin: 1.3rem;
color: rgb(218, 244, 237);
text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
  
  
.page{
    width: 100vw;
    background: #eeeeee;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 90px 0 30px 0;
    /* align-items: center; */
    /* margin-top: 300px; */
}

iframe{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    position: relative;
    overflow-y: hidden;
    justify-content: center;
    width: 60vw;
    margin: auto ;    
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    iframe{
        width: 80vw;
        /* background: #000; */
    }
}


@media screen and (max-width: 767px){
    /* .page{
        padding: 20px 0px;
        
    } */
    iframe{
        /* background: #000; */
        width: 100vw;
        padding: 0px;
        padding: 5px;
    }
    
}